@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

form .border
{
    
    border-radius: 5px;
    font-size: 14px;
}

.form p
{
  font-size: 17px;
  font-weight: 700;
}

.form input,select
{
  font-size: 15px;
}
.form span
{
  font-weight: 600;
  font-size: 16px;
}